<p>
  <a href="{{site.swc_site}}">Software Carpentry</a>
  HWS-Astronomy is hosting an introductory programming and digital skills bootcamp for beginner and intermediate programmers.   This intensive, 2-day workshop will provide students with a basic foundation of Python programming for data analysis along with an introduction to the fundamentals of the Unix shell for efficient command-line operations, Git for program version control and collaboration, and SQL for managing and querying databases
</p>
<p align="center">
  <em>
    For more information on what we teach and why,
    please see our paper
    "<a href="https://doi.org/10.1371/journal.pbio.1001745">Best Practices for Scientific Computing</a>".
  </em>
</p>
